@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&family=Manrope:wght@200;300;400;500;600;700;800&family=Noto+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./img/bg.png");
  /* width: 100%; */
  /* height: 2000px; */
}
.py-\[50px\] {
    padding-bottom: 50px;
    padding-top: 155px  !important;
    width: 90%  !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
.css-16yox0q ul li {
 
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    text-align: left;
    font-family: Manrope!important;
    font-size: 16px!important;
    font-weight: 400!important;
    letter-spacing: 0!important;
}
.css-b62m3t-container {
    position: relative;
    box-sizing: border-box;
    z-index: 9999999999 !important;
}
.p-\[5px\] {
    padding: 5px;
    z-index: 99999999 !important;
}
.css-16yox0q p {
    margin-top: 20px;
    /* font-family: "Noto Serif"; */
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
  line-height: 28px!important;
    font-family: Manrope!important;
    font-size: 16px!important;
    font-weight: 400!important;
    letter-spacing: 0!important;
}

.css-13lkean p {
    width: 424px;
    font-family: "Noto Serif";
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    font-family: Manrope!important;
    font-size: 16px!important;
    font-weight: 400!important;
    letter-spacing: 0!important;
    /* line-height: 22px!important; */
    /* margin-top: 65px; */
    /* padding: 100px 0; */
    text-align: left!important;
}

.css-17kvxwx button {
  background-color: rgb(255 255 255) !important;
    border: 1px solid rgb(244, 117, 0)!important;
    color: rgb(0 0 0)!important;
  font-size: 20px !important;
      width: 200px !important;
    height: 200px !important;
}
.css-17kvxwx {
    padding-left: 50px;
    position: relative;
    font-family: Manrope!important;
    font-size: 16px!important;
    font-weight: 400!important;
    letter-spacing: 0!important;
    width: 430px !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.css-1y9aock li + li {
    margin-top: 71px !important;
}
.css-f1d9g4 {
  background-image: url(https://studennikoviv.github.io/1212/static/media/bg.b0c23b4925d8f79e88d6.png);
  background-color: #fff;
  margin-top: 0px !important;
    padding-right: 110px !important;
    top: 0;
  width: 100%;
  transition: top 0.3s;

}

.css-1cej2ln::before {

    background-color: rgb(255 255 255 / 0%) !important;
    backdrop-filter: blur(0px) !important;
}

.css-1cej2ln {
    content: "";
    height: 20px !important;
    position: fixed !important;
    inset: 0px;
    z-index: 0;
  
    background-color: rgb(255 255 255 / 0%) !important;
    backdrop-filter: blur(0px) !important;
}

.css-kz17fh p {
    text-align: right !important;
}

.css-1cej2ln {
 
    z-index: 99999 !important;
}
.css-10adisa {
    width: 47px !important;
}

.css-1v0wp19 a {
    color: #afafaf !important;
}

.css-t3jzle {
    padding: 11px 0px 0px 196px !important;
    width: 928px !important;
  }

.css-126triz {
    width: 490px !important;
}

.css-kfpqr8 button {

    bottom: 39px !important;
    left: -74px !important;
    border-radius: 60% !important;
    border: none;
    height: 152px !important;
    width: 152px !important;
    font-family: "Noto Serif" !important;
    font-size: 15px !important;

}
.css-19bib9m {
    width: 29% !important;
  }

.css-126triz h3 {
      font-size: 42px !important;
    line-height: 49px !important;
}
.css-w5bf8c {
    background-color: rgb(255 255 255 / 0%);
    backdrop-filter: blur(0px);
}
.css-1y9aock {
    margin-top: 136px !important;
}
.css-19bib9m p {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 100px 0px;
    margin-top: 70px;
    font-weight: 400;
    font-size: 15px;
    margin-top: 65px;
    font-family: Manrope  !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 22px !important;
    letter-spacing: 0em !important;
    text-align: left !important;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Сброс стилей */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
.css-a37un0 ul li {
    width: 100% !important;
    }

.container {
  max-width: 1520px;
  width: 100%;
  margin: 0 auto;
  padding: 0 50px;
}

.react-select__control {
  @apply !shadow-none bg-transparent !border-none !cursor-pointer;
}

.react-select__single-value {
  @apply transition-all;
}

.react-select__single-value:hover {
  @apply !text-[#40C3BA]
}

.react-select__indicator-separator {
  @apply hidden;
}

.react-select__indicator {
  @apply !p-0;
}

.react-select__value-container {
  @apply !p-0;
}

.react-select__option {
  @apply !bg-transparent !text-black;
}

.react-select__option.react-select__option--is-focused {
  @apply font-semibold;
}

.react-select__menu {
  @apply right-0 py-[20px] px-[25px] !max-w-none !w-[200px];
}

.popup-content{
  @apply max-md:!w-[calc(100vw-20px)] ;
}

.multiline-ellipsis {
  /* display: -webkit-box;        Использование флексбокса с вебкит-префиксом */
  /* -webkit-box-orient: vertical;Определить вертикальную ориентацию контейнера */
  /* overflow: hidden;            Скрыть текст, который выходит за пределы */
  /* text-overflow: ellipsis;     Добавить троеточие */
  /* -webkit-line-clamp: 5;       Ограничить количество строк (например, 3) */
}


.popup-content {
  width: 100%;
  max-width: 500px;
  /* background: transparent; */
  /* border: none; */
  @apply rounded-[26px] p-[25px] font-["Manrope"];
}

.close {
  @apply text-end ml-auto block text-[35px] leading-[1px] w-[25px] h-[25px] flex justify-center items-center;
}

.popup-overlay {
  z-index: 99999999 !important;
}



@media (max-width:768px){
.max-lg\:block {
    display: block;
    float: right;
   
   }

 .w-\[50px\] {
    width: 50px;
    margin-left: 22apx !important;
}
  
  .css-b62m3t-container {
    position: relative;
    box-sizing: border-box;
    z-index: 9999999999 !important;
}
.p-\[30px\] {
    padding: 19px !important;
}
  
.p-\[5px\] {
  margin-top: 30px !important;
    padding: 5px;
    z-index: 99999999 !important;
}
.css-f1d9g4 {
  background-image: url(https://studennikoviv.github.io/1212/static/media/bg.b0c23b4925d8f79e88d6.png);
  background-color: #fff;
  margin-top: 0px !important;
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    max-width: 1520px;
    margin: 0px auto;
    padding: 0px 30px !important;
    height: 80px;
}
  
.css-1v0wp19 a {
    color: #000!important;
}
  .css-t3jzle {
    padding: 11px 0 0  0px !important;
 
}
.max-lg\:backdrop-blur-\[10px\] {
 width: 100% !important;

}
  .css-kz17fh p {
    text-align: center!important;
}
  .css-kz17fh {
  height: auto !important;
}
.css-1cej2ln {
    z-index: 20!important;
}
  .css-t3jzle {
    flex-direction: column;
    gap: 20px;
    padding: 0px 15px;
    margin: 0px auto;
    width: 100% !important;
    height: auto !important;
}

  .css-1cej2ln {
    z-index: 0 !important;
}
.css-oyi3ym h3 {
    font-family: "Noto Serif";
    font-size: 26px;
    font-weight: 500;
    line-height: 41px !important;
    letter-spacing: 0em;
    text-align: center;
    position: relative;
}

  .\[\&\.open\]\:max-lg\:left-\[0\%\].open {
    left: 65px;
    z-index: 99999;
    background: #fff !important;
    position: fixed;
    right: 5px;
    /* top: 80%; */
    width: 347px;
     left: 13px !important;
    display: block;
    z-index: 99999999;
}
  .css-1cej2ln {
    z-index: 20!important;
}
  .css-1cej2ln {
    
    top: 0px;
    left: 0px;
    width: 100%;
    
}
  .css-17kvxwx button {
  
    height: 150px!important;
    width: 150px!important;
}
.css-13lkean {
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 10px !important;
}
  .css-1fv55ts {
    width: 100%;
    margin-top: 99px !important;
    font-size: 20px;
}
  .css-oyi3ym h3 {
    font-family: "Noto Serif";
    font-size: 26px !important;
    font-weight: 500;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: center;
    position: relative;
}
  .css-13lkean img {
    width: 460px;
   height: auto !important;
    margin-left: 50px;
}
  .css-17kvxwx button {
bottom: 400px;
    right: -26px !important;
}
  .css-17kvxwx ul {
    margin-top: 19px!important;
}
.css-16yox0q {
    display: flex;
    margin-top: -18px  !important;
}
  .css-ms8ywf h4 {
    font-family: "Noto Serif";
    font-size: 20px !important;
    font-weight: 500;
    /* line-height: 41px; */
    letter-spacing: 0em;
    /* text-align: left; */
    position: relative;
    margin-left: 60px !important;
    margin-right: -65px !important;
}
  .css-17kvxwx {
    padding-left: 0px !important;
    line-height: 1 !important;
    width: 100% !important;
}
  .css-13lkean p {
    line-height: 26px !important;
    width: 100%;
}
.css-w5bf8c {
    background-color: rgb(255 255 255 / 0%);
    backdrop-filter: blur(0px);
}
  .css-3zmcvc {

    margin-top: -282px !important;
}
  
  .css-48t1sb {

    margin-top: 112px  !important;
}

  .css-a37un0 ul li {
    width: 100% !important;
    }
  
.css-a37un0 ul li + li {
    margin-left: 0px;

}
  .css-1y9aock li+li {
    margin-top: 0px!important;
}
    .css-a37un0 h3 {
    margin-left: 0px !important;
    font-size: 25px !important;
    text-align: center !important;
    position: unset !important;
    line-height: 0px !important;
    margin-top: -50px;
}
  .css-19bib9m ul {
    bottom: 10px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 70 !important;
    margin-top: 20px !important;
  
}
  .css-19bib9m p {
  padding-bottom: 59px !important;
    padding: 27px 0px !important;
    margin-top: 30px!important;
    margin-bottom: 32px !important;
   
}

  .css-a37un0 ul li {
    width: 100%!important;
}

  .css-a37un0 ul li + li {
    margin-left: 0px !important;
    width: 100% !important;
}

  .css-19bib9m {
    width: 100%!important;
}

  .css-19bib9m ul {
    bottom: -26px!important;
    margin-right: auto!important;
    margin-left: auto!important;
    width: 65%!important;
}



  
 
  .css-kfpqr8 button {
    left: -17px !important;
}

  .css-1y9aock {
 
    width: 49% !important;
    margin-left: auto !important;
    margin-right: auto !important;

}
  
  .css-126triz {
    width: 100% !important;
    padding-right: 0px !important;
  }
  .css-126triz h3 {
    font-size: 30px !important;
    text-align: center !important;
    line-height: 39px !important;
    margin-top: -22px !important;
}
  .css-126triz p {
    line-height: 28px;
     margin-top: 25px !important;
}
  .max-lg\:block {
    display: block;
    float: right;
   
   }
  .css-1y9aock li+li {
    margin-top: 0px!important;
}
  .css-kfpqr8 {
    width: 100% !important;
    bottom: 136px !important;
}
  
@media (max-width:1707px) {
  .button-prev {
    left: 350px !important;
  }

  .button-next {
    right: 350px !important;
  }

  .circle {
    margin-left: 200px;

  }
}

@media (max-width:1536px) {
  .button-prev {
    left: 250px;
  }

  .button-next {
    right: 250px;
  }
  .circle {
    margin-left: 200px;
    margin-top: 30px;
    margin-bottom: 50px;
  }
}

.circle {
  @apply max-lg:ml-[50px]
}

@media (max-width:1398px) {
  .button-prev {
    left: 200px !important;
  }

  .button-next {
    right: 200px !important;
  }
}

@media (max-width:1024px) {
  .button-prev {
    left: 5px !important;
  }

  .button-next {
    right: 5px !important;
  }
}

.button-disabled{
  opacity: .5;
  transition: all;
}


@media (max-width:1814px) {
  .circle{
    margin-left: 300px;
  }
}

@media not all and (min-width: 1024px)
.\[\&\.open\]\:max-lg\:left-\[0\%\].open {
    left: 13px !important;
    background: #0000;
}

@media not all and (min-width: 1024px)
.max-lg\:block {
    display: block;
    float: right;
    margin-left: 340px !important;
}
@media (max-width: 768px)
.css-126triz {
    width: 100% !important;
    padding-right: 0px !important;
}
.css-126triz p {
    margin-top: 27px;
  }
@media (max-width: 768px)
.css-3rqnws {
    max-width: 100%;
    padding: 0px 30px;
    margin-top: 120px;
}
}
@media not all and (min-width: 1024px)
.max-lg\:block {
    display: block;
    margin-left: 186px;
}

@media (max-width: 768px)
.css-126triz {
    width: 100% !important;
    padding-right: 0px !important;
}
